@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,600;1,300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  max-width: 1800px;
  margin: auto !important;
  background-color: #f2f2f2 !important;
  /* background-color: #252B42 !important; */
  /* color: black !important; */
}
.home_slide {
  height: 90vh;
}
.img_div {
  background: linear-gradient(rgba(71, 44, 3, 0.32), rgba(71, 44, 3, 0.32)),
    url("../images/yoga/home/yoga_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw 100vh;
  width: 100%;
  height: fit-content;
  padding: 10px;
  margin-bottom: 50px;
  animation: amar 20s linear 0.2s infinite forwards;
}
.img_div2 {
  /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/bgg2.jpg'); */
  background: linear-gradient(rgba(71, 44, 3, 0.32), rgba(71, 44, 3, 0.32)),
    url("../images/yoga/home/yoga_bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw 100vh;
  width: 100%;
  height: fit-content;
  padding: 10px;
  margin-bottom: 50px;
  animation: amar 20s linear 0.2s infinite forwards;
}
.img_div3 {
  background: linear-gradient(rgba(71, 44, 3, 0.32), rgba(71, 44, 3, 0.32)),
    url("../images/yoga//home//yoga_bg4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw 100vh;
  width: 100%;
  height: fit-content;
  padding: 10px;
  margin-bottom: 50px;
  animation: amar 20s linear 0.2s infinite forwards;
}
.img_div4 {
  background: url("../images/bgg4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw 100vh;
  width: 100%;
  height: fit-content;
  padding: 10px;
  margin-bottom: 50px;
  animation: amar 20s linear 0.2s infinite forwards;
}
@keyframes amar {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 200% 200%;
  }
}
.about_col {
  margin-top: 12% !important;
}
.company_name {
  /* h1 */

  font-family: "Poppins";
  /* font-style: normal; */
  font-weight: 1000;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0.2px;

  /* light-text-color */

  color: #ffffff;
}
.about_company {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.display_btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.contact_us_btn {
  background-color: #ffa62b;
  padding: 8px 30px;
  border-radius: 37px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 19px;
  text-decoration: none;
}
.contact_us_btn:hover {
  color: white;
}
.card0 {
  max-width: 100%;
  padding: 20px 20px 40px;
  border: 1.4px solid #e0e3eb;
  margin: auto;
  transition: all 0.5s ease-in-out;
  border-radius: 1rem;
}

.card0:hover {
  box-shadow: 1px 1px 5px rgb(102, 100, 100);
  transform: scale(1.05);
  background-color: #906a47;
  color: white;
}

.div3 a {
  text-decoration: none;
}

.div3 .card {
  transition: all 0.5s ease-in-out;
  border-radius: 0.5rem;
}

.div3 .card:hover {
  transform: scale(1.05);
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,600;1,300&display=swap");

.div1 {
  background-color: #252b42;
}

.number {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 171.5%;
  color: #0b57e3;
}
.app_btn1 {
  font-family: "Poppins";
  background-color: #0b57e3;
  color: white;
}
.approach_col .card-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 171.5%;
}

.approach_col .card-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 171.5%;
}
.carousel-inner .active {
  border: none;
}
.learn_more_btn {
  background: transparent;
  padding: 8px 30px;
  border-radius: 37px;
  border: 1px solid white;
  color: white;
  font-weight: 700;
  font-size: 19px;
  text-decoration: none;
}
.learn_more_btn:hover {
  color: white;
}
.div2 {
  background-color: white;
  border-radius: 30px 30px 0px 0px;
  padding: 20px 20px 60px;
}

.div2_heading {
  /* h2 */

  font-family: "Poppins";
  /* font-style: normal; */
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  /* identical to box height, or 142% */

  text-align: center;
  letter-spacing: 0.2px;
}

.div3 {
  padding: 50px;
}
.div3_heading {
  font-family: "Poppins";
  /* font-style: normal; */
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  /* identical to box height, or 142% */

  text-align: center;
  letter-spacing: 0.2px;
  color: white;
}
.grey_line {
  width: 60px;
  margin: auto;
  margin-top: 18px;
  height: 2px;

  /* Neutral/100 */
  background: #e0e3eb;
}
.service_name {
  font-family: "Poppins";
  /* font-style: normal; */
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}
.choose_text {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 22px;
  display: none !important;
}

.service_name2 {
  font-family: "Poppins";
  /* font-style: normal; */
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  /* Primary */

  color: white;
}
.services_row1 {
  margin-top: 100px !important;
}
.services_row2 {
  margin-top: 100px !important;
}
.card_type2 {
  padding: 30px;
  max-width: 300px;
  margin: auto;
  height: 100%;
  background-color: #0b57e3 !important;
}
.img_type2 {
  filter: invert(1);
}
.cta1 {
  background: linear-gradient(rgb(61, 131, 147, 0.5), rgb(61, 131, 147, 0.5)),
    url("../images/banner1.png");
  /* background-image: url('../images/banner1.png'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: fit-content;
  padding: 30px 0px;
  /* margin-bottom: 50px; */
}

.cta_heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 57px;
  /* or 142% */

  letter-spacing: 0.2px;

  color: #ffffff;
}

.cta_desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  /* line-height: 57px; */
  /* or 142% */

  letter-spacing: 0.2px;

  color: #ffffff;
}

.cta_btn {
  padding: 10px 36px;
  background: #ffffff;
  border-radius: 37px;
  border: none;
  color: black;
}

.stats {
  padding: 25px !important;
  margin-top: 100px;
  background-color: #ffffff;
  box-shadow: 0px 12px 23px rgba(0, 0, 0, 0.71);
}
.stats .card {
  border: none;
}

.stats .card .card-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  letter-spacing: 0.1px;

  /* text-color */

  color: #252b42;
}

.stats .card .card-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.2px;

  /* second-text-color */

  color: #737373;
}

.stats .card img {
  max-width: 48px;
  height: auto;
  object-fit: cover;
  margin: auto;
}

.case_study_container {
  background-color: white;
  padding: 50px 100px !important;
}
.case_study_heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */

  text-align: center;

  color: #494848;
  margin-bottom: 40px;
}
.case_study_container .card {
  border: none;
}
.security_img {
  object-fit: cover;
  width: 100%;
}

.case_study_container .card .card-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  /* or 356% */

  letter-spacing: 0.2px;
}

.privacy_bg {
  background: linear-gradient(rgba(22, 105, 122, 0.1), rgba(22, 105, 122, 0.1)),
    url("../images/png.png");
  /* background-image: url('../images/banner1.png'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
  padding: 30px 0px;
  /* margin-bottom: 50px; */
}
.latest_news_container {
  background-color: #252b42 !important;
  padding: 50px 100px !important;
  height: fit-content;
}

.latest_news_heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
  margin-bottom: 40px;
}
.latest_news_container .card {
  border: none;
  border-radius: 0px;
}

.latest_news_container .card .card-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  /* or 356% */

  letter-spacing: 0.2px;
}
.partners {
  background-color: #77d9f8;
  padding: 30px auto !important;
}
.partners_heading {
  font-family: "Poppins";
  font-style: normal;
  margin-top: 20px !important;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */

  text-align: center;

  color: #565656;
}

@media (min-width: 100px) and (max-width: 400px) {
  .company_name {
    /* h1 */

    font-family: "Poppins";
    /* font-style: normal; */
    font-weight: 1000;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.2px;

    /* light-text-color */

    color: #ffffff;
  }
  .div3 {
    padding: 10px;
  }

  .stats {
    padding: 10px !important;
  }

  .case_study_container {
    background-color: white;
    padding: 50px 10px !important;
  }
  .latest_news_container {
    background-color: white;
    padding: 50px 10px !important;
  }
}
/* yoga CSS */

/* section 1 */
.home_sec1_head {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -0.05em;

  color: #112734;
}
.home_sec1_para {
  font-family: "Poppins";  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: white;
}
/* section 2 */
.home_sec2_container {
  background-color: #dfc9b1;
  height: 60vh;
}

.home_sec2_head {
  font-family: "Poppins";
    font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #333333;
}
.home_sec2_para {
  font-family: "Poppins";
    font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #000000;
}
.home_sec2_img {
  object-fit: contain;
  height: 70%;
}
.carousel-item {
  background-color: #dfc9b1;
}

/* section 3 */
.home_sec3_container {
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.596)),
    url("../images//yoga//home//Rectangle 339.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.home_sec3_head {
  font-family: "Poppins";
    font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #ffffff;
}
.home_sec3_para {
  font-family: "Poppins";
    font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #c5c5c5;
}
.home_sec3_btn {
  font-family: "Poppins";
    font-style: normal;
  font-weight: 400;
  font-size: 20px !important;
  line-height: 24px;
  text-align: center;
  padding: 10px 15px !important;
}
/* section 4 */
.home_sec4_para:hover .choose_text {
  color: white;
  display: block !important;
}
.home_sec4_container {
  background: linear-gradient(
    180deg,
    #dfcbb5 0%,
    rgba(223, 201, 177, 0) 66.67%
  );
}
/* section 5 */
.home_sec5_container {
  background-color: #dfcdb8;
}
.home_sec5_box1 {
  height: 45vh;
  background-image: linear-gradient(
      rgba(71, 44, 3, 0.42),
      rgba(71, 44, 3, 0.42)
    ),
    url("../images//yoga//home//image 23.png");
    background-repeat: no-repeat;
}
.home_sec5_box2 {
  height: 45vh;
  background-image: linear-gradient(
      rgba(71, 44, 3, 0.42),
      rgba(71, 44, 3, 0.42)
    ),
    url("../images//yoga//home//image 22.png");
    background-repeat: no-repeat;
}
.home_sec5_box3 {
  height: 45vh;
  background-image: linear-gradient(
      rgba(71, 44, 3, 0.42),
      rgba(71, 44, 3, 0.42)
    ),
    url("../images//yoga//home//image 24.png");
    background-repeat: no-repeat;
}
.home_sec5_head {
  font-family: "Poppins";
    font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}
/* section 6 */
.home_sec6_container {
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.596)),
    url("../images//yoga//home//Rectangle_8.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
.home_sec61_container {
  height: 8vh;
  background-color: #dfcdb8;
}
/* section 7 */
.home_sec7_container {
  background: url("../images//yoga//home//Rectangle 374.png");
  background-repeat: no-repeat;
}
.home_sec7_btn {
  padding: 10px 20px;
  background: rgba(239, 123, 16, 0.88);
  border-radius: 60px;
  font-family: "Poppins";
    font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  border: none;
  color: #ffffff;
}
